@charset "ISO-8859-1";

body {
	background-color: rgb(241, 251, 251);
		display: center;
}
box{
	    display: flex;
    justify-content: center;
    align-items: center;
	
}
.center-div {
     margin: 30px auto;
     width: 60%;
}

.table-width{
display: center;
	width:800 px;
	height: auto;	
}

h2 {
	text-align: center;
	font: italic 100 40px/1 'Abril Fatface';
	font-family: 'Abril Fatface', sans-serif;
}

h6 {
	text-align: center;
	font: italic 100 20px/1 'Abril Fatface';
	font-family: 'Abril Fatface', sans-serif;
	font-weight: lighter
}

p {
	font-weight: lighter;
	margin: 0;
	width: 200px;
	text-align: justify;
	margin: 0;
}

.form1 {
	background-color: rgb(69, 166, 166);
	margin: 0 30px;
	display: center;
	width: 350 px;
	height: 250 px;
	margin: 10px;
	box-shadow: 0px 0px 10px 0px #00000080;
}
/* [type=text] */
input, select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}
input[type=checkbox] {
	width: 30%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	diplay:block;
}

label {
	padding: 12px 12px 12px 0;
	display: block;
}

input[type=submit] {
	background-color: rgb(7, 131, 131);
	color: white;
	padding: 12px 20px;
	cursor: pointer;
	float: center;
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	display: center;
	text-align: center;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}

.caption {
/* 	background-color: rgb(105, 198, 198); */
	font-weight: bold;
}

.caption1 {
	background-color: rgb(7, 131, 131);
	color: white;
	padding: 12px 20px;
	cursor: pointer;
	float: center;
	width: 60%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	disply: center;
	text-align: center;
}

.a1:hover {
	text-decoration: none;
	color: #333;
}

.a1 {
	text-decoration: none;
	color: #333;
}


body {
   margin:0;
   padding:0;
   height:100%;

}
#main {
   min-height:60%;
   position:relative;
     /* Hauteur du pied de page */
}

footer {
 position:relative;
  bottom: 0;
  width: 100%;
  display : none ;
	
}

